<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create student</title>
</head>
<body>
<h1>Create student</h1>
<p>
  <a href="/students">Student list</a>
</p>
<form th:action="@{/create-student}" th:object="${student}" method="post">
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" th:field="*{name}"/></td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><input type="text" th:field="*{age}"/></td>
    </tr>
    <tr>
      <td>Point:</td>
      <td><input type="text" th:field="*{point}"/></td>
    </tr>
    <tr>
      <td>Province:</td>
      <td>
        <select th:field="*{classes}">
          <option th:each="c : ${classes}" th:value="${c.id}" th:text="${c.name}"></option>
        </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" value="Create student"></td>
    </tr>
  </table>
</form>
</body>
</html>