<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Classes</title>
</head>
<body>
<a href="/create-classes">Create new classes</a>
<a href="/students">Back to home student</a>
<h1>Classes</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Views</th>
    </tr>
    <th:block th:each="c : ${classes}">
        <tr>
            <td th:text="${c.name}"></td>
            <td><a th:href="@{/edit-classes/__${c.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-classes/__${c.id}__}">Delete</a></td>
            <td><a th:href="@{/view-classes/__${c.id}__}">Views Student</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>